<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FMCLX6"
        height="0" width="0" style="display:none;visibility:hidden">

</iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="navbar container">
        <a href="/">
            <p class="company-brand">Adassa Store</p>
        </a>

        <nav class="d-menu">
            <ul class="d-navbar">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>

        <nav class="m-menu">
            <div onclick="show();">
                <button class="hamburger bi bi-list"></button>
            </div>
            <ul class="m-navbar" id="m-navbar">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
    </div>  

</header>

