@import url(./global.css);
@import url(./utility.css);

header {
    background-color: var(--theme-color);
}

header .logo img {
    cursor: pointer;
}

.company-brand {
    font-style: oblique;
    font-weight: bold;
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    opacity: 100%;
    background-color: var(--theme-color);
    width: 100%;
}

.d-menu .d-navbar {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    background-color: var(--theme-color);
    padding: 0 0;
    z-index: 100;
}

.d-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d-menu ul li {
    padding: 1rem 2rem;
    color: var(--theme-text);
    font-size: 2.0rem;
    font-weight: 600;
}

.d-menu ul li:hover {
    color: var(--theme-color-hover);
}

.m-menu {
    display: none;
    position: relative;
    color: var(--theme-color);
    background-color: var(--theme-color);
}

.m-menu .hamburger {
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background-color: var(--theme-color);
    color: var(--theme-text);
}

.m-menu .m-navbar {
    position: fixed;
    top: 3.5rem;
    right: 9px;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color);
    padding: 3rem 3rem;
    border-radius: 7px;
    box-shadow: 5px 3px 2px rgb(140 152 164 / 15%);
    z-index: 100;
}

.m-menu .m-navbar li {
    padding: 1rem 2rem;
    font-weight: 500;
    color: var(--theme-text-dull);
}

.m-menu .m-navbar li:hover {
    cursor: pointer;
    color: var(--theme-color);
    background-color: var(--theme-color-hover);
    border-radius: 5px;
}

.btn {
    background-color: var(--theme-gradient-color-1);
    background-image: linear-gradient(160deg, var(--theme-gradient-color-1) 0%, var(--theme-gradient-color-2) 100%);
    border: none;
    border-radius: 20px;
}

.btn:hover {
    color: var(--theme-text);
    background-color: var(--theme-gradient-color-2);
    background-image: linear-gradient(160deg, var(--theme-gradient-color-2) 0%, var(--theme-gradient-color-1) 100%);
}

.m-menu .m-navbar .btn {
    margin-top: 2rem;
    text-align: center;
    display: block;
}

.intro-section {
    display: flex;
    flex-wrap: wrap;
}

.intro-text {
    max-width: 50%;
    padding: 2rem 0 2rem 0;
}

.float-bg {
    position: absolute;
    bottom: 100px;
    left: 50px;
    z-index: -1;
    animation: bounce 4s ease 0.5s infinite alternate;
}

.introduction {
    background-color: var(--theme-color);
}

.introduction .tag-line {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: var(--theme-text);
}

.introduction .main-line {
    font-weight: 700;
    color: var(--theme-text);
    font-size: 4.6rem;
    margin-bottom: 0rem;
    position: relative;
}

.introduction .description {
    font-size: 1.8rem;
    color: var(--theme-text);
    margin-bottom: 4rem;
}

.intro-images {
    position: relative;
    width: 50%;
    text-align: center;
}

.float-bl {
    position: absolute;
    bottom: 100px;
    left: 50px;
    animation: bounce 2s ease 0.5s infinite alternate, slide-right 0.5s ease 0s 1 alternate;
}

.float-tr {
    position: absolute;
    top: 50px;
    right: 50px;
    animation: bounce 2.1s ease 0.5s infinite alternate, slide-left 0.5s ease 0s 1 alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}

.growth {
    background-color: var(--theme-color);
    border-radius: 24px;
    margin: 0rem auto 5rem auto;
    font-size: 2rem;
    padding: 2rem 2rem;
}

.growth .stats {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--theme-color);
    justify-content: space-evenly;
    padding: 2rem;
    max-width: 90%;
    margin: -8rem auto;
    border-radius: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.growth .stats div {
    padding: 2rem;
    text-align: center;
}

.growth .stats h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgb(196, 196, 196);
}

.growth .stats p {
    color: var(--theme-color);
}

.growth .info {
    margin-top: 0rem;
    text-align: center;
}

.growth .info .tag-line {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.growth .info .description {
    color: var(--theme-text);
}

/* Products */
.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3rem auto 5rem auto;
}

.products div {
    width: 250px;
    background-color: var(--theme-color);
    margin: 1rem;
    padding: 2rem 0;
    border-radius: 20px;
    box-shadow: 0px 0px 35px rgb(140 152 164 / 13%);
    display: flex;
    flex-direction: column;
}

.products p {
    margin-top: 2rem;
}

.products .icon {
    background-color: var(--theme-color);
    width: 70px;
    height: 70px;
    font-size: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.products .icon:hover {
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.products .title {
    font-weight: 500;
}

.products .description {
    font-size: 1.6rem;
    color: var(--theme-text);
}

/* Servicies */
.services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3rem auto 5rem auto;
}

.services div {
    width: 250px;
    background-color: var(--theme-color);
    margin: 1rem;
    padding: 2rem 0;
    border-radius: 20px;
    box-shadow: 0px 0px 35px rgb(140 152 164 / 13%);
    display: flex;
    flex-direction: column;
}

.services p {
    margin-top: 2rem;
}

.services .icon {
    background-color: var(--theme-color);
    width: 70px;
    height: 70px;
    font-size: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.services .icon:hover {
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.services .title {
    font-weight: 500;
}

.services .description {
    font-size: 1.6rem;
    color: var(--theme-text);
}

/* Academy */
.academy {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3rem auto 3rem auto;
}

.academy div {
    width: 250px;
    background-color: var(--theme-color);
    margin: 1rem;
    padding: 2rem 0;
    border-radius: 20px;
    box-shadow: 0px 0px 35px rgb(140 152 164 / 13%);
    display: flex;
    flex-direction: column;
}

.academy p {
    margin-top: 2rem;
}

.academy .icon {
    background-color: var(--theme-color);
    width: 70px;
    height: 70px;
    font-size: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.academy .icon:hover {
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.academy .title {
    font-weight: 500;
}

.academy .description {
    font-size: 1.6rem;
    color: var(--theme-text);
}

.working {
    padding-top: 10rem;
}

/* General content */

.form-title {
    font-weight:bold;
    font-size: xx-large;
    text-align: center;
}

.form-description {
    font-size: x-large;
    margin-left: 3rem;
}

.content {
    font-size: 2rem;
    text-align: center;
}

.content .tag-line {
    font-size: 4rem;
    font-weight: 600;
    color: var(--theme-text);
}

.content .main-line {
    font-size: 3rem;
    font-weight: 600;
    color: var(--theme-color);
    margin-bottom: 2rem;
}

.content .description {
    font-size: 2rem;
    color: var(--theme-text);
    margin-bottom: 5rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

/* Footer */

footer {
    background-color: var(--theme-color);
}

footer .logo img {
    cursor: pointer;
}

footer .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10rem;
}

footer p {
    font-size: 1.8rem;
    margin-top: 1rem;
}

footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer li {
    font-size: 1.6rem;
    padding: 0.6rem 0;
    color: var(--theme-text-dull);
}

footer li:hover {
    cursor: pointer;
}

footer i {
    padding-right: 1rem;
}

footer .bi-twitter {
    color: #1da1f2;
}

footer .bi-instagram {
    color: #c13584;
}

footer .bi-youtube {
    color: #db0000;
}

.feedback-form {
    font-size: 2rem;
}

.form-control {
    font-size: 2rem;
}

footer hr {
    background-color: lightblue;
    opacity: 30%;
}

/* Post */
.post-container {
    margin-left: 0;
    margin-right: 0;
}

.post-container > * {
    color: black;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.post-container > p {    
    font-size: 2rem;
}

.post-container h1 {
    color: black;
    background-color: white;
}

.post-container h2 {
    color: black;
    background-color: white;
}

.post-container h3 {
    color: black;
    background-color: white;
}